*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# IDE
/.idea/

# Lua modules (kept in separate repo, except bundled assets)
*.lua
!app/src/main/assets/modules/*.lua

# Build outputs
/app/build/

# Screenshots
screen*.png

# Kotlin
.kotlin/
